@keyframes upAndDown {
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes runCss {
    0% {
        opacity: 0;
        transform: translate3d(-40%, 0px, 0px);
    }
    50% {
        opacity: 1;
        transform: translate3d(3%, 0px, 0px);
    }
    65% {
        opacity: 1;
        transform: translate3d(-2.5%, 0px, 0px);
    }
    80% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    90% {
        opacity: 1;
        transform: translate3d(-1%, 0px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes mobilerunCss {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Fontdance {
    0% {
        transform: translateY(0)rotate(0)
    }
    50% {
        transform: translateY(7px)rotate(7deg)
    }
    75% {
        transform: translateY(0) rotate(7deg)
    }
    100% {
        transform: translateY(0)rotate(0)
    }
}

@keyframes runRight {
    0% {
        transform: translateX(110%)
    }
    50% {
        transform: translateX(0)
    }
    75% {
        transform: translateX(10%)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes runLeft {
    0% {
        transform: translateX(-110%)
    }
    50% {
        transform: translateX(0)
    }
    75% {
        transform: translateX(-10%)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes changeShadow {
    0% {
        border: 1px solid rgb(238, 167, 91);
        box-shadow: rgb(238, 167, 91) 2px 2px 10px;
    }
    50% {
        border: 1px solid rgb(248, 31, 53);
        box-shadow: rgb(248, 31, 53) 2px 2px 10px;
    }
    100% {
        border: 1px solid rgb(38, 183, 241);
        box-shadow: rgb(38, 183, 241) 2px 2px 10px;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}