.markdown {
    font-size: 15px;
    @media (max-width: 479px) {
        font-size: 14px;
    }
    pre {
        margin: .5em 0;
        padding: 1em;
        font-size: 85%;
        border-radius: 5px;
        background-color: var(--code-background);
        overflow-x: auto;
    }
    code {
        margin: 0 .2em;
        padding: .1em .2em;
        background-color: var(--code-background);
        font-family: Roboto Mono, Monaco, courier, monospace;
    }
    p {
        margin: 1em 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0;
        line-height: 1;
    }
    a {
        margin: 0 .3em;
        color: var(--link-color);
    }
    blockquote {
        padding: 0 1em;
        border-left: 0.25em solid var(--border-color);
        p {
            text-indent: 0rem;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ul {
        margin: 1em 0;
        padding-left: 2em;
        li {
            padding: .3em;
            list-style: disc;
        }
    }
    ol {
        margin: 1em 0;
        padding-left: 2em;
        li {
            padding: .3em;
            list-style: decimal;
        }
    }
    .image-wrapper {
        display: flex;
        flex-direction: column;
        margin: 1.5em 0;
        width: 100%;
        .progress-image {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            padding: 0 1em;
            cursor: zoom-in;
            img {
                border-radius: 4px;
                transition: all .25s linear;
            }
            .thumbnail {
                filter: blur(8px);
            }
            .real-image {
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                top: 0;
                padding: 0 1em;
            }
            .loaded {
                opacity: 1;
            }
            .hidden {
                opacity: 0;
            }
        }
        .image-caption {
            margin-top: 1em;
            text-align: center;
            >span {
                display: inline-block;
                padding: .1em .3em;
                margin: 0 auto;
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em
    }
    code.hljs {
        padding: 3px 5px
    }
    .hljs {
        color: #abb2bf;
        background: #282c34
    }
    .hljs-comment,
    .hljs-quote {
        color: #5c6370;
        font-style: italic
    }
    .hljs-doctag,
    .hljs-formula,
    .hljs-keyword {
        color: #c678dd
    }
    .hljs-deletion,
    .hljs-name,
    .hljs-section,
    .hljs-selector-tag,
    .hljs-subst {
        color: #e06c75
    }
    .hljs-literal {
        color: #56b6c2
    }
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta .hljs-string,
    .hljs-regexp,
    .hljs-string {
        color: #98c379
    }
    .hljs-attr,
    .hljs-number,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-pseudo,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable {
        color: #d19a66
    }
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-symbol,
    .hljs-title {
        color: #61aeee
    }
    .hljs-built_in,
    .hljs-class .hljs-title,
    .hljs-title.class_ {
        color: #e6c07b
    }
    .hljs-emphasis {
        font-style: italic
    }
    .hljs-strong {
        font-weight: 700
    }
    .hljs-link {
        text-decoration: underline
    }
}